configuration {
  modi: "run,pdf:~/.config/rofi/pdfs.sh,calc,ssh";
  show-icons: true;
  icon-theme:"Papirus";
  }

/*@theme "/home/emrik/.local/share/rofi/themes/nord.rasi"*/

@theme "./style/style-dark.rasi"
